/* TEMPLATE BASE */
#btn-to-top {
    display: inline-block;
    background-color: #674f26;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;  
}

a {
    color: #b5a982 !important;
    text-decoration: none;
    cursor:pointer;
}

a:visited {
    color: #b5a982 !important;
}
a:hover {
    color: #f1f1f1 !important;
}
.dropdown-item:hover {
    color: #674f26 !important;
    font-weight: bold; 
}

#btn-login-dropdown {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


#header {
    height: 20%;
    background-color: #041019;
}

#logo-img {
    min-width: 0px;
    max-width: 150px;
    max-height: 150px;
    min-height: 0px;
}

#search-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid 7E7E7E;
    width: 80%;
    background: #f1f1f1;
}

#search-button {
    float: left;
    padding: 10px;
    background: #b5a982;
    color: white;
    font-size: 17px;
    border: 2px solid #674f26;
}
  

#search-button:hover {
    background: rgb(195 144 49);
}

#footer{
    background-color: #041019;
    color: #b5a982;
    height: auto;
}

#footer-img {
    width: 40%;
    height: auto;
}

.btn-rectangle {
    font-size: 14px;
    border:none;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    /* Fallback */
    background: #b5a982;
    
    /* Cut the corner */
    background: linear-gradient(-45deg, transparent 7px, #674f26 7px);
    transition: 2s ease;
}

/*TEMPLATE HOME*/
.item-container {
    position: relative;
}
.item {
    width: 100%;
    height: auto;
}

.label-sale{
    position: absolute;
    top: 0px;
    right: 16px;
    padding: 10px 9px 10px;
    color: white;
    background-color: #bd8448;
    z-index: 2;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.label-sale::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 0;
    border-left: 14px solid #bd8448;
    border-right: 14px solid #bd8448;
    border-bottom: 8px solid transparent;
}

/*TEMPLATE ITEM_INFO*/
ul{
    list-style-type: none;
}

.vl{
    width: 1px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    transform-origin: center top;
}

.img-item-info {
    border: 1px solid rgba(255, 255, 255, 0.2);;
    border-radius: 4px;
    padding: 5px;
}

.item-info-container {
    background-image: url("../img/bg_item_info.png");
    margin: none;
    width: 100%;
    height: auto;

}

.item-info-title{
    color: white;
    font-family: 'IM Fell Double Pica';
    text-align: center;
}

.item-info {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: transparent;
    width: 80%;
}

/* TEMPLATE REGISTER */
.register{
    color: white;
}
#registration-container {
    background-image: url("../img/bg-register.png");
    margin: none;
    width: 100%;
    height: auto;
}

#registration-container > h2 {
    margin: unset;
}

#reg-divider {
    width: 100%;
    height: auto;
    align-items: center;
}

.form-input-reg {
    padding-top: 5px;
    padding-bottom: 5px;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    display:block;
    margin:auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

#gradient-bottom {

    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(4, 16, 25, 1), rgba(0, 0, 0, 0));
}

#btn-register {
    font-size: 14px;
    border:none;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    /* Fallback */
    background: #b5a982;
    
    /* Cut the corner */
    background: linear-gradient(-45deg, transparent 7px, #674f26 7px);
    transition: 2s ease;
    
}