
    @font-face { font-family: LOL-font; src: url('../font/beaufortforlol-regular.otf'); } 
    @font-face { font-family: LOL-font; font-weight: bold; src: url('../font/beaufortforlol-bold.otf');}
    @font-face { font-family: LOL-font; font-style: italic; src: url('../font/beaufortforlol-italic.otf'); }
    @font-face { font-family: LOL-font-bold-italic; src: url('../font/beaufortforlol-bolditalic.otf');}

body{
    font-family: LOL-font;
}

.btn-span{
    color: white;
    background-color: #674f26;
}
.btn-span:hover{
    color: white;
    background-color: #674f26d0;
}

a {
    color: #b5a982 !important;
    text-decoration: none;
    cursor:pointer;
}

a:visited {
    color: #b5a982 !important;
}

a:hover {
    color: #f1f1f1 !important;
}

/* TEMPLATE BASE */
#btn-to-top {
    display: inline-block;
    background-color: #674f26;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;  
    z-index: 3;
}

.dropdown-item:hover {
    color: #674f26 !important;
    font-weight: bold; 
}

#btn-login-dropdown {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}


#header {
    height: 20%;
    background-color: #041019;
}

#logo-img {
    min-width: 0px;
    max-width: 150px;
    max-height: 150px;
    min-height: 0px;
}

#search-input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid 7E7E7E;
    width: 80%;
    background: #f1f1f1;
}

#search-button {
    float: left;
    padding: 10px;
    background: #b5a982;
    color: white;
    font-size: 17px;
    border: 2px solid #674f26;
}
  

#search-button:hover {
    background: rgb(195 144 49);
}

#footer{
    background-color: #041019;
    color: #b5a982;
    height: auto;
}

#footer-img {
    width: 40%;
    height: auto;
}

.btn-rectangle {
    width: auto;
    font-size: 14px;
    border:none;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    /* Fallback */
    background: #b5a982;
    
    /* Cut the corner */
    background: linear-gradient(-45deg, transparent 7px, #674f26 7px);
    transition: 2s ease;
}

.box-login {
    border: 1px solid #674f26;
    position: relative;
}

.bubble:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #674f26;
    top: -23px;
}
  
.bubble:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    top: -18px;
}

.navbar-toggler-icon{
    background-image: url("../img/menu.png");
}
  



/*TEMPLATE HOME*/
.bgvid {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.item-container {
    position: relative;
}

.item-img {
    width: 100%;
    height: auto;
}

.item-img:hover{
    opacity: 0.2;
    color: white;
}

.stats-img {
    width: 100%;
    height: 100%;
    margin: none;
    padding: none;
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
}

.stats-img > ul{
    padding: 0px;
    height: min-content;
    width:200px
    


}

.stats-img > ul > li{
    width: min-content;
    margin:0px;
    white-space: nowrap;
    font-size: 1vw;


}

@media screen and (max-width: 767px) {
    .stats-img > ul > li{
        width: min-content;
        margin:0px;
        white-space: nowrap;
        font-size:150%;
    }
}



.stats-img:hover {
    background-color: rgba(4, 16, 25, 0.8);
    color: white;
}

.opacity{
    position: relative;
    
}

.label-sale{
    position: absolute;
    top: 0px;
    right: 16px;
    padding: 10px 9px 10px;
    color: white;
    background-color: #bd8448;
    z-index: 2;
    font-size: 12px;
    line-height: 10px;
    text-transform: uppercase;
    writing-mode: vertical-lr;
}

.label-sale::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 0;
    border-left: 14px solid #bd8448;
    border-right: 14px solid #bd8448;
    border-bottom: 8px solid transparent;
}

.item-pre-info{
    background: linear-gradient(-45deg, transparent 7px, #041019 7px);
    color: white;
    margin: 0px;
}

/*TEMPLATE ITEM_INFO*/
ul{
    list-style-type: none;
}

.vl{
    width: 1px;
    padding: 0px;
    background: rgba(255, 255, 255, 0.2);
    transform-origin: center top;
}

.img-item-info {
    border: 1px solid rgba(255, 255, 255, 0.2);;
    border-radius: 4px;
    padding: 5px;
}

.item-info-container {
    background-image: url("../img/bg_item_info.png");
    margin: none;
    width: 100%;
    height: auto;

}

.item-info-title{
    color: white;
    font-family: 'IM Fell Double Pica';
    text-align: center;
}

.item-info {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: transparent;
    width: 80%;
}

/* TEMPLATE REGISTER */
.register{
    color: white;
}
#registration-container {
    background-image: url("../img/bg-register.png");
    margin: none;
    width: 100%;
    height: auto;
}

#registration-container > h2 {
    margin: unset;
}

#reg-divider {
    width: 100%;
    height: auto;
    align-items: center;
}

.form-input-reg {
    padding-top: 5px;
    padding-bottom: 5px;
}

#imageUpload
{
    display: none;
}

#profileImage
{
    cursor: pointer;
}

#profile-container {
    display:block;
    margin:auto;
    width: 150px;
    height: 150px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

#profile-container img {
    width: 150px;
    height: 150px;
}

.gradient-bottom {
    width: 100%;
    height: 100px;
    background: linear-gradient(to top,rgba(4, 16, 25, 1), rgba(0, 0, 0, 0));
}

.gradient-top {
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(4, 16, 25, 1), rgba(0, 0, 0, 0));
}

.btn-update {
    font-size: 14px;
    border:none;
    color: #ffffff;
    /* Fallback */
    background: #b5a982;
    
    /* Cut the corner */
    background: linear-gradient(-45deg, transparent 7px, #674f26 7px);
    transition: 2s ease;
}

/*TEMPLATE CART*/
.cart-section{
    background-image: url("../img/bg-cart.png");
}

.title-page{
    font-family: LOL-font-bold-italic;
    text-transform: uppercase;
}

table{
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);
}
td {
    height: 77px;
}

.qnt{
    width: 50px;    
    margin: 0px;
}

.btn-low{
    float: left;
}


/*PERSONAL AREA*/
.account-section{
    background-image: url(../img/runeterra.jpg);
}

.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}



/*TEMPLATE CHECKOUT*/
.checkout-complete {
    background-image: url("../img/bg-cart.png");
}

.item-qnt{
    width: 100px;
}

/*TEMPLATE AREA VEDITORE*/
.area-venditore{
    background-image: url("../img/bg-cart.png");
}
.operation-list{
    width: 100%;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.operation-el{
    margin: 5% 5% 0px 5%;
    box-sizing: border-box;
    flex: 0 0 auto;
    min-width: 0px;
}

.operation-el > p{
    
    background-color: white;
}

.op-img{
    border: 2px, solid, white;
    width: 410px; height: auto;
}


@media screen and (max-width: 770px){
    .op-img{
        width: 300px;
        height: auto;
    }
}


/*TEMPLATE ADD ITEM*/
.add-item-area{
    background-image: url(../img/bg_item_info.png);
}

.add-box{
    height: fit-content;
    position: relative;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 5%;
}


#imageItemUpload
{
    display: none;
}

#itemImage
{
    cursor: pointer;
}

/*TEMPLATE SALES*/

.area-sales{
    background-image: url(../img/bg-register.png);
}


/*TEMPLATE NOTIFICA*/
.area-notifica{
    background-image:  url(../img/bg-cart.png);
}